* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 37%;
    transform: translateY(-50%);
    color: #888;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 12px 40px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"],
.register-button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
.register-button:hover {
    background-color: #218838;
}

.message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
}

.error-message {
    display: block;
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.success-message {
    display: block;
    color: #28a745;
    background-color: #ace3b9;
    border: 1px solid #ace3b9;
}

.already-account {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.forgot-password-button {
    background-color: transparent; /* Change as needed */
    color: #b53604; /* Change as needed */
    border: none;
    cursor: pointer;
    margin: 10px 0 6px 3px; /* Add space below the button */
    font-weight: 600;
}
        
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"],
    button[type="submit"],
    .register-button {
        font-size: 14px;
    }
}
